
.page{
	
	width:780px;
	margin:auto;
	font-family:'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
}
.infophoto{
	height:250px;
	
}
.info{
	float:left;
}

.photo{
	float:right;
}

.section{
	margin-bottom:70px;
	text-aligne:justify;
}
.sec-gauche{
	float:left;
	font-weight:bold;
	font-size: 21px;
}
.sec-droite{
	margin-left:150px;
	margin-top: 40px;
}
h2{
	font-size:28px;
	color:#3388DD;
	border-bottom: 3px solid #3388DD;
}
.durée{
	font-weight:normal;
	font-style:italic;
	font-size:16px;
}

.titre{
	font-weight:bold;
	font-size:20px;
	
}
#forma-gauche p{
	margin-bottom:30px;
}

#exp-droite p{
	margin-bottom:30px;
}

#comp-gauche p{
	margin-bottom:28px;
}

#comp-droite p{
	margin-bottom:41px;
}
#centre-gauche p{
	margin-bottom:29px;
}

#centre-droite p{
	margin-bottom:41px;
}
